:root {
  --mario-red: #FF412D;
  --capt-falcon-blue: #403961;
}

html {
  margin: 0;
}

body {
  /* background-color: #000; */
  background-color: var(--mario-red);
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.centered-content {
  color: #FFF;
  margin: 0 auto;
  max-width: 1400px;
  padding: 100px;
  border-radius: .5rem;
  background-color: var(--capt-falcon-blue);
}
